<div class="container ">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="btn nav-link active booking-tab" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">My bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="btn nav-link booking-tab" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">My requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="btn nav-link booking-tab" id="rockets-tab" data-bs-toggle="tab" data-bs-target="#rockets-tab-pane" type="button" role="tab" aria-controls="rockets-tab-pane" aria-selected="false">My rockets</button>
    </li>
  </ul>
</div>

<%# MY BOOKINGS TAB %>
<div class="tab-content position-sticky" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="container justify-content-center">
      <% @bookings.each do |booking| %>
          <div class="d-flex justify-content-between card-product m-2 rounded-4 border-2 border-white bg-white" style="--bs-bg-opacity: .25">
            <%= cl_image_tag booking.rocket.photos.first.key%>
            <div class="card-product-infos">
              <h2 class="card-title mb-2"><%= booking.rocket.name %></h2>
              <p class="card-text m-0"><%= booking.rocket.content %></p>
            </div>
            <div class="card-product-infos">
              <h2 class="card-title mb-2"><strong>Booking details</strong></h2>
              <p class="card-text m-0"> Booked for <strong><%= booking.number_of_days %> day</strong></p>
              <p class="card-text m-0"> From <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong> </p>
              <p class="card-text m-0"> Total price : <strong><%= booking.full_price %>M $</strong></p>
              <p class="card-text m-0"> Status : <strong><%= booking.status %></strong></p>
            </div>
            <div class="card-product-infos position-relative mt-3">
              <%= link_to "cancel", booking_path(booking), class:"btn btn-cards btn-outline-danger position-absolute top-50 start-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </div>
          </div>
      <% end %>
    </div>
  </div>

<%# MY REQUESTS %>
  <div class="tab-pane fade position-sticky" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="container justify-content-center">
      <% @requests.each do |request| %>
          <div class="d-flex justify-content-between card-product m-2 rounded-4 border-2 border-white bg-white" style="--bs-bg-opacity: .25" data-controller="status">
            <%= cl_image_tag request.rocket.photos.first.key%>
            <div class="card-product-infos">
              <h2 class="card-title mb-2"><%= request.rocket.name %></h2>
              <p class="card-text m-0"><%= request.rocket.content %></p>
            </div>
            <div class="card-product-infos">
              <h2 class="card-title mb-2"><strong>Request details</strong></h2>
              <p class="card-text m-0"> Booked for <strong><%= request.number_of_days %> day</strong></p>
              <p class="card-text m-0"> From <strong><%= request.start_date %></strong> to <strong><%= request.end_date %></strong> </p>
              <p class="card-text m-0"> Total price : <strong><%= request.full_price %>M $</strong></p>
              <p class="card-text m-0" data-status-target="currentstatus"> Status : <strong><%= request.status %></strong></p>
            </div>
            <div class="card-product-infos position-relative mt-3" data-status-target="divbutton">
              <%= link_to "Accept", accept_path(request), data: { turbo_method: :patch }, class: "btn btn-cards btn-outline-success position-absolute top-40 start-0", data: { action: "click->status#accept" } %>
              <%= link_to "Reject", reject_path(request), data: { turbo_method: :patch }, class: "btn btn-cards btn-outline-danger position-absolute top-50 start-0", data: { action: "click->status#reject" } %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

<%# MY ROCKETS %>
  <div class="tab-pane fade position-sticky" id="rockets-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="container justify-content-center">
          <% @rockets.each do |rocket| %>
          <div class="d-flex justify-content-between card-product m-2 rounded-4 border-2 border-white bg-white" style="--bs-bg-opacity: .25">
            <%if rocket.photos.attached?%>
              <%= cl_image_tag rocket.photos.first.key%>
              <div class="card-product-infos">
                <h2 class="card-title mb-2"><%= rocket.name %></h2>
                <p class="card-text m-0"><%= rocket.content %></p>
              </div>
              <div class="card-product-infos">
                <h2 class="card-title mb-2"><strong>Rocket details</strong></h2>
                <p class="card-text m-0"> Number of passengers : <strong><%= rocket.number_passengers %> </strong></p>
                <p class="card-text m-0"> Price :  <strong><%= rocket.price_per_day %></strong>M $/day </strong> </p>
              </div>
            <%else%>
              <div class="card-product-infos">
                <h2 class="card-title mb-2"><%= rocket.name %></h2>
                <p class="card-text m-0"><%= rocket.content %></p>
              </div>
              <div class="card-product-infos">
                <h2 class="card-title mb-2"><strong>Rocket details</strong></h2>
                <p class="card-text m-0"> Number of passengers : <strong><%= rocket.number_passengers %> </strong></p>
                <p class="card-text m-0"> Price :  <strong><%= rocket.price_per_day %></strong>M $/day </strong> </p>
              </div>
              <%end%>
            <div class="card-product-infos position-relative mt-3">
              <%= link_to "Edit", edit_rocket_path(rocket), class: "btn btn-cards btn-outline-success position-absolute top-40 start-0"%>
              <%= link_to "Delete", rocket_path(rocket), class:"btn btn-cards btn-outline-danger position-absolute top-50 start-0", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>
