<div class="container-sm mt-5 login rounded-3 shadow-sm">
  <div class="m-3 p-3">
  <%= simple_form_for(@rocket) do |f| %>
    <%= f.input :name, wrapper_html: { class: 'text-primary' } %>
    <%= f.input :content %>
    <%= f.input :number_passengers %>
    <%= f.input :price_per_day %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class: "btn btn-primary btn-lg" %>
  <% end %>
  </div>
</div>
