#index rockets
<div class="container">
  <div class="d-flex justify-content-end">
  <%= link_to "New rocket", new_rocket_path, class: "btn btn-primary ms-3" %>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <% @rockets.each do |rocket| %>
          <%= rocket.name %>
          <img src="<%= rocket.img_url %>" alt="<%= rocket.name %>" />
          <%= truncate(rocket.content, length: 80) %>
          <%= rocket.price_per_day %>
          <%= rocket.number_passengers %>
        <% end %>
      </div>
    </div>
  </div>
</div>
