<!DOCTYPE html>
<html>
  <head>
    <title>AirBorbit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <body style="background-image: https://s2.best-wallpaper.net/wallpaper/3840x2160/1803/NGC-7380-Wizard-Nebula-stars-universe_3840x2160.jpg">
      <%= render "shared/navbar" %>
      <div class="notices">
        <%= content_tag(:p, notice, class: "notice btn btn-warning btn-lg fs-2 rounded-pill border border-white border-2 fw-bold text-white") if notice.present? %>
        <%= content_tag(:p, alert, class: "alert") if alert.present? %>
      </div>
    <% end %>
    <%= yield %>  
    <% unless current_page?(root_path) %>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    <% end %>
  </body>
</html>


<%# <%= link_to "My dashborad", myrockets_user_rockets_path(user_id: current_user.id) %>
